*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'PT Sans', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/********************************/
.header-section{
	width: 100%;
	padding: 40px 0px; 
	background: #fcdb00;
}
.header-section .bg-light{
	background: transparent !important;
}
.header-section .navbar-nav{
	margin-right: 8%;
}
.header-section .navbar-nav .nav-link{
	font-size: 21px;
	font-weight: 800;
	margin-left: 64px;
	color: rgb(0, 0, 0);
}
.header-section .navbar-nav .nav-link:hover{
	color: #898989;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgb(0 0 0 / 0%);
}
.navbar-light .navbar-toggler:hover, .navbar-light .navbar-toggler:focus{
	box-shadow: none;
	outline: none;
	color: #010101;
	border-color: rgb(0 0 0 / 50%);
}
.header-section .banner{
	width: 100%;
	padding: 60px 0px;
}
.header-section .banner .text-inner{
	width: 100%;
	padding: 65px 0px;
}
.header-section .banner .text-inner h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #010101;
}
.header-section .banner .text-inner h5{
	font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #313841;
}
.header-section .banner .text-inner p{
	font-size: 16px;
    line-height: 20px;
    color: #555555;
    margin-bottom: 30px;
}
/*Feature section starts here*/
.feature{
	width: 100%;
	padding: 100px 0px 70px;
}
.feature .title{
	width: 100%;
	padding: 0px 0px 60px;
	text-align: center;
}
.feature .title h1{
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
.feature .title p{
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
    color: #313841;
}
.feature .feature-inner{
	width: 100%;
}
.feature .feature-inner .media{
	padding: 0px 30px 0px; 
}
.feature .feature-inner .media .fa{
	font-size: 45px;
	color: #000;
	margin-right: 20px;
}
.feature .feature-inner .media .fa-bookmark-o{
	margin-right: 32px;
}
.feature .feature-inner .media .fa-lemon-o{
	margin-right: 28px;
}
.feature .feature-inner .media .fa-tablet{
	margin-right: 40px;
}
.feature .feature-inner .media-body h5{
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}
.feature .feature-inner .media-body p{
	font-size: 16px;
	color: #898989;
	margin-bottom: 60px;
	/*line-height: 30px;*/
}
/*Footer section starts here*/
.footer-section{
	width: 100%;
	padding: 80px 0px 90px;
	background: #010101;
	text-align: center;
}
.footer-section .title h1{
	font-size: 30px;
	font-weight: 400;
	color: #fcdb00;
	margin-bottom: 10px;
}
.footer-section .title p{
	font-size: 19px;
	line-height: 25px;
	font-weight: 500;
    color: #898989;
	margin-bottom: 40px;
}
.footer-section .form-inline{
	width: 100%;
}
.footer-section .form-inline .form-group{
	width: 80%;
}
.footer-section .form-inline .form-group .form-control{
    width: 100%;
    font-size: 13px;
    padding: 19px;
    border: 1px solid #fff;
    color: #a5a5a5;
}
.footer-section .form-inline .form-group .form-control:hover, .footer-section .form-inline .form-group .form-control:focus{
	border: 1px solid #fcdb00;
	color: #898989;
	box-shadow: none;
	outline: none;
}
.footer-section .form-inline .btn-primary{
    width: 15%;
    font-size: 14px;
    font-weight: 600;
    padding: 9px;
    text-transform: uppercase;
    color: #010101;
    background: #fcdb00;
    border: 1px solid #fcdb00;
    transition: 1s ease-in-out;
}
.footer-section .form-inline .btn-primary:hover, .footer-section .form-inline .btn-primary:focus{
	color: #fcdb00;
    background: #010101;
    border: 1px solid #fcdb00; 
    box-shadow: none;
	outline: none;
}

.footer-section .social-icons{
	width: 100%;
	padding: 65px 0px 70px;
	text-align: center; 
}
.footer-section .social-icons ul{
	display: block;
}
.footer-section .social-icons ul li{
	display: inline-block;
	text-decoration: none;
}
.footer-section .social-icons ul li a{
	color: #fcdb00;
	font-size: 40px;
	padding: 0px 10px;
}
.footer-section .social-icons ul li a .fa-facebook-square:hover{
	color: #3D5C9C;
}
.footer-section .social-icons ul li a .fa-twitter-square:hover{
	color: #5DA9DD;
}
.footer-section .social-icons ul li a .fa-google-plus-square:hover{
	color: #DD5144;
}
.footer-section .social-icons ul li a .fa-pinterest-square:hover{
	color: #C51F27;
}
.footer-section p{
	color: #d4d4d4;
	font-size: 13px;
	line-height: 19px;
}
.footer-section .as{
	margin-left: -15px;
    padding: 0px 50px;
}
.footer-section a{
	color: #d4d4d4;
}
.footer-section a:hover{
	color: #fcdb00;
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  	.header-section .navbar-nav .nav-link{
		font-size: 18px;
		font-weight: 700;
		margin-left: 55px;
		margin-top: 1px;
		color: rgb(0, 0, 0);
	}
	.header-section .banner{
		width: 100%;
		padding: 40px 0px;
	}
	.header-section .banner .text-inner{
		width: 100%;
		padding: 75px 0px;
	}
	.header-section .banner .text-inner h1 {
	    font-size: 26px;
	    line-height: 36px;
	    font-weight: 700;
	    margin-bottom: 12px;
	    color: #010101;
	}
	.header-section .banner .text-inner h5{
		font-size: 16px;
	    font-weight: 600;
	    margin-bottom: 12px;
	    color: #313841;
	}
	.header-section .banner .text-inner p{
		font-size: 13px;
	    line-height: 18px;
	    color: #555555;
	    margin-bottom: 30px;
	}
	.feature .title{
		width: 100%;
		padding: 0px 0px 60px;
		text-align: center;
	}
	.feature .title h1{
		font-size: 30px;
		font-weight: 600;
	}
	.feature .title p{
		font-size: 16px;
		line-height: 25px;
		font-weight: 500;
	    color: #313841;
	}
	.feature .feature-inner{
		width: 100%;
	}
	.feature .feature-inner .media{
		padding: 0px 0px 0px; 
	}
	.feature .feature-inner .media .fa{
		font-size: 35px;
		color: #000;
		margin-right: 15px;
	}
	.feature .feature-inner .media .fa-bookmark-o{
		margin-right: 22px;
	}
	.feature .feature-inner .media .fa-lemon-o{
		margin-right: 22px;
	}
	.feature .feature-inner .media .fa-tablet{
		margin-right: 30px;
	}
	.feature .feature-inner .media-body h5{
		font-size: 17px;
		font-weight: 600;
		line-height: 30px;
	}
	.feature .feature-inner .media-body p{
		font-size: 13px;
		color: #898989;
		margin-bottom: 30px;
		/*line-height: 30px;*/
	}
	.footer-section{
		padding: 50px 0px;
	}
	.footer-section .social-icons{
		padding-bottom: 50px;
	}
	.footer-section .title h1{
		font-size: 25px;
		margin-bottom: 20px;
	}
	.footer-section .title p{
		font-size: 18px;
	}
	.footer-section .form-inline .btn-primary{
		width: 12%;
		padding: 10px 0px;
		font-size: 11px;
	}
	.footer-section p{
		font-size: 12px;
	}
	.footer-section .as{
		padding: 0px 60px 0px 10px;
	}
	.footer-section a{
		font-size: 12px;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  	.header-section{
  		padding: 20px 0px 40px; 
  	}
  	.header-section .navbar-nav .nav-link{
		font-size: 18px;
		font-weight: 700;
		margin-left: 55px;
		margin-top: 1px;
		color: rgb(0, 0, 0);
	}
	.header-section .banner{
		width: 100%;
		padding: 20px 0px;
	}
	.header-section .banner .text-inner{
		width: 100%;
	    padding: 15px 0px;
	    text-align: center;
	}
	.header-section .banner .text-inner h1 {
	    font-size: 30px;
	    line-height: 36px;
	    font-weight: 700;
	    margin-bottom: 20px;
	    color: #010101;
	}
	.header-section .banner .text-inner h5{
		font-size: 17px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #313841;
	}
	.header-section .banner .text-inner p{
		font-size: 14px;
	    line-height: 20px;
	    color: #555555;
	    margin-bottom: 40px;
	}
	.header-section .banner .text-inner img{
		margin-bottom: 30px;
	}
	.feature{
		padding: 50px 0px 0px;
	}
	.feature .title{
		padding-bottom: 30px;
	}
	.feature .title h1 {
	    font-size: 30px;
	    margin-bottom: 15px;
	}
	.feature .title p{
		font-size: 17px;
	    line-height: 25px;
	    font-weight: 500;
	    padding: 0px 85px 0px;
	    color: #313841;
	}
	.feature .feature-inner{
		width: 100%;
	}
	.feature .feature-inner .media{
		padding: 0px 30px 0px; 
	}
	.feature .feature-inner .media .fa{
		font-size: 45px;
		color: #000;
		margin-right: 20px;
	}
	.feature .feature-inner .media .fa-bookmark-o{
		margin-right: 36px;
	}
	.feature .feature-inner .media .fa-envelope-o{
		margin-right: 23px;
	}
	.feature .feature-inner .media .fa-folder-o{
		margin-right: 27px;
	}
	.feature .feature-inner .media .fa-lemon-o{
		margin-right: 30px;
	}
	.feature .feature-inner .media .fa-tablet{
		margin-right: 40px;
	}
	.feature .feature-inner .media-body h5{
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
	}
	.feature .feature-inner .media-body p{
		font-size: 16px;
		color: #898989;
		/*line-height: 30px;*/
	}
	.footer-section{
		padding: 40px 0px; 
	}
	.footer-section .title h1{
		font-size: 28px;
	}
	.footer-section .title p{
		font-size: 13px;
	}
	.footer-section .form-inline .form-group .form-control {
    	font-size: 11px;
    	padding: 18px;
	}
	.footer-section .form-inline .btn-primary{
		width: 12%;
		padding: 10px 0px;
		font-size: 11px;
	}
	.footer-section .social-icons{
		padding: 40px 0px 20px;
	}
	.footer-section p{
		font-size: 12px;
		text-align: center; 
	}
	.footer-section .as{
		padding: 15px 55px 0px 80px;
	}
	.footer-section a{
		font-size: 12px;
	}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  	
	.header-section{
		width: 100%;
		padding: 10px 0px 80px; 
		background: #fcdb00;
	}
	.header-section .navbar-nav{
		margin-right: 8%;
	}
	.header-section .navbar-nav .nav-link{
		font-size: 21px;
		font-weight: 800;
		margin-left: 64px;
		color: rgb(0, 0, 0);
	}
  	.header-section .navbar-nav .nav-link{
		font-size: 18px;
		font-weight: 700;
		margin-left: 55px;
		margin-top: 1px;
		color: rgb(0, 0, 0);
	}
	.header-section .banner{
		width: 100%;
		padding: 0px;
	}
	.header-section .banner .text-inner{
		width: 100%;
		text-align: center;
		padding: 40px 0px;
		margin-bottom: 20px;
	}
	.header-section .banner .text-inner h1 {
	    font-size: 22px;
	    line-height: 15px;
	    font-weight: 700;
	    margin-bottom: 20px;
	    color: #010101;
	}
	.header-section .banner .text-inner h5{
		font-size: 16px;
	    font-weight: 600;
	    margin-bottom: 15px;
	    color: #313841;
	}
	.header-section .banner .text-inner p{
		font-size: 12px;
	    line-height: 18px;
	    color: #555555;
	    margin-bottom: 60px;
	}
	.feature{
		padding: 60px 0px;
	}
	.feature .title{
		width: 100%;
		padding: 0px 0px 40px;
		text-align: center;
	}
	.feature .title h1{
		font-size: 25px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.feature .title p{
		font-size: 16px;
		line-height: 25px;
		font-weight: 500;
	    color: #313841;
	    padding: 0px 8px;
	}
	.feature .feature-inner{
		width: 100%;
	}
	.feature .feature-inner .media{
		padding: 0px 30px 0px; 
	}
	.feature .feature-inner .media .fa{
		font-size: 45px;
		color: #000;
		margin-right: 20px;
	}
	.feature .feature-inner .media .fa-bookmark-o{
		margin-right: 32px;
	}
	.feature .feature-inner .media .fa-lemon-o{
		margin-right: 22px;
	}
	.feature .feature-inner .media .fa-tablet{
		margin-right: 30px;
	}
	.feature .feature-inner .media .fa-code{
		margin-right: 15px;
	}
	.feature .feature-inner .media-body h5{
		font-size: 20px;
		line-height: 30px;
	}
	.feature .feature-inner .media-body p{
		font-size: 16px;
		color: #898989;
		/*line-height: 30px;*/
		margin-bottom: 35px;
	}
	.footer-section{
		padding: 40px 0px 30px; 
	}
	.footer-section .title{
		padding: 0px 17px;
	}
	.footer-section .title h1{
		font-size: 25px;
	}
	.footer-section .title p{
		font-size: 15px;
	}
	.footer-section .form-inline .form-group .form-control{
		width: 95%;
	    font-size: 13px;
	    padding: 18px;
	}
	.footer-section .form-inline .btn-primary{
		width: 20%;
    	font-size: 13px;
    	padding: 8px;
	}
	.footer-section .social-icons{
		padding: 40px 0px 30px;
	}
	.footer-section p{
		font-size: 12px;
		text-align: center; 
	}
	.footer-section .as{
		padding: 15px 25px 0px;
	}
	.footer-section a{
		font-size: 12px;
	}
}